{% extends 'base/base.html' %}
{% load static %}

{% block title %}Minhas Reservas {% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-list-check" style="color: #198754"></i> Minhas Reservas</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'reservation:teacher-reservation-list' %}">Minhas Reservas</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Ver Reserva</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending">Sala</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Chave</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Prédio</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Justificativa</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Data</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Horário Início</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Horário Fim</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Situação</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                            <tr role="row" class="odd">
                                    <td>
                                        {% if reservation.status == "Aguardando Resposta" %}
                                            <a href="{% url 'reservation:reservation-update' id=reservation.id %}"><i class="fas fa-search"></i></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ reservation.id_room.room_name }}</td>
                                    <td>{{ reservation.id_room.key }}</td>
                                    <td>{{ reservation.id_room.get_department_display }}</td>
                                    <td>{{ reservation.justification }}</td>
                                    <td>{{ reservation.date|date:"d/m/Y" }}</td>
                                    <td>{{ reservation.startTime }}</td>
                                    <td>{{ reservation.endTime }}</td>
                                    <td>{{ reservation.status }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}