<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
    <head>     
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <!-- Font-icon css-->
        <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/6.4.2/css/font-awesome.min.css" /> -->
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        {% block extracss %}
        {% endblock extracss %}
    </head>
    <body class="app sidebar-mini">
    
        {% include 'partials/sidebar_menu.html' %}

        <main class="app-content">
            <div class="app-title">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar">
                        <i class="fa fa-up-right-and-down-left-from-center" style="color: #198754"></i>
                    </a>
                    
                    <div class="tile row" style="display: flex; justify-content: center;">
                        {% block content %}
                        
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </main>
        <!-- Essential javascripts for application to work-->
        {% include 'base/js.html' %}
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
