{% extends 'base/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-home" style="color: #198754;"></i> Página Inicial</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg" style="color: #198754;"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Página Inicial</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}
<div class="table-responsive" style="display: flex; justify-content: center;">

    <div class="content-home">
        <header>
            <h1>Sistema de Gerenciamento de Reservas de Salas e Laboratórios do IFRN</h1>
            <span><img class="image-home" src="/static/images/logo.png" alt="" /></span>
            <h3>Campus Pau dos Ferros/RN</h3>
        </header>
        
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
