{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reserva Sala {% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Reserva Sala</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'reservation:grants' %}">Deferir</a></li>
        <li class="breadcrumb-item"><a href="#">Reserva Sala</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}
<div class="table-responsive">
<form method="post" style="margin-left: 15px;">
    <div class="form-group">
      <label for="data">Data</label>
      <input type="date" class="form-control" id="data" name="data" value="29/09/2023">
    </div>
    <div class="form-group">
      <label for="periodicidade">Periodicidade</label>
      <select class="form-control" id="periodicidade" name="periodicidade">
        <option value="Semanal">Semanal</option>
        <option value="Diária">Diária</option>
        <option value="Mensal">Mensal</option>
      </select>
    </div>
    <div class="form-group">
      <label for="horario_inicio">Horário de Início</label>
      <input type="time" class="form-control" id="horario_inicio" name="horario_inicio" value="16:20">
    </div>
    <div class="form-group">
      <label for="horario_final">Horário Final</label>
      <input type="time" class="form-control" id="horario_final" name="horario_final" value="18:00">
    </div>
    <div class="form-group">
      <label for="justificativa">Justificativa</label>
      <textarea class="form-control" id="justificativa" name="justificativa"></textarea>
    </div>
    <div class="form-group">
      <label for="anexo">Anexo</label>
      <input type="file" class="form-control-file" id="anexo" name="anexo">
    </div>
    <div class="form-group">
        <label for="mensagem_avaliador">Mensagem do Avaliador</label>
        <textarea class="form-control" id="mensagem_avaliador" name="mensagem_avaliador"></textarea>
      </div>
      <div class="form-group">
        <label for="resposta_avaliador">Resposta ao Avaliador</label>
        <textarea class="form-control" id="resposta_avaliador" name="resposta_avaliador"></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" id="enviar_mensagem">Enviar Mensagem ao Solicitante</button>
        <button type="button" class="btn btn-danger" id="indeferir">Indeferir</button>
        <button type="button" class="btn btn-success" id="deferir">Deferir</button>
      </div>

    </form>
  </div>
{% endblock %}