{% extends 'base/base.html' %}
{% load static %}

{% block title %}Gerenciar Salas {% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Gerenciar Salas</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'calendarapp:calendar-room-reservations' %}">Gerenciar Salas</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<a href="{% url 'room:coord-form-room' %}">
    <button class="btn btn-primary" style="margin-bottom: 1rem;">Criar Sala</button>
</a>

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">#</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Nome</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Chave</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Prédio</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Disponível</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Responsável</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Agendamentos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for event in latest_events %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{ forloop.counter }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_time }}</td>
                                <td>{{ event.end_time }}</td>
                            </tr>
                        {% endfor %} -->
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 12 </td>
                            <td> Chave 12</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Ana Silva</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 33 </td>
                            <td> Chave 33</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Pedro Santos</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 5 </td>
                            <td> Chave 5</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Maria Lima</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 18 </td>
                            <td> Chave 18</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Carlos Ribeiro</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 8 </td>
                            <td> Chave 8</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Sofia Pereira</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 22 </td>
                            <td> Chave 22</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Marcelo Alves</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 14 </td>
                            <td> Chave 14</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Lúcia Oliveira</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 30 </td>
                            <td> Chave 30</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Tiago Santos</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 9 </td>
                            <td> Chave 9</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Beatriz Lima</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 41 </td>
                            <td> Chave 41</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Rafael Silva</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 3 </td>
                            <td> Chave 3</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Camila Almeida</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i>
                            </a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 17 </td>
                            <td> Chave 17</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> Gustavo Oliveira</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 26 </td>
                            <td> Chave 26</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Isabela Costa</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 10 </td>
                            <td> Chave 10</td>
                            <td> Principal</td>
                            <td> Sim</td>
                            <td> André Santos</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td> <a href="{% url 'room:coord-form-room' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sala 7 </td>
                            <td> Chave 7</td>
                            <td> Principal</td>
                            <td> Não</td>
                            <td> Laura Pereira</td>
                            <td> <a href="{% url 'calendarapp:calendar-room-reservations' %}">
                                <i class="fas fa-calendar"></i></a></td>
                        </tr>                                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('{% url "calendarapp:calendar-room-reservations" %}sampleTable').DataTable();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock extrascripts %}
