{% extends 'base/base.html' %}
{% load static %}

{% block title %}Gerenciar Salas {% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-list-check" style="color: #198754"></i> Gerenciar Salas</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'calendarapp:calendar-room-reservations' %}">Gerenciar Salas</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<a href="{% url 'room:rooms_create' %}">
    <button class="btn btn-primary" style="margin-bottom: 1rem;">Criar Sala</button>
</a>

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Nome</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Chave</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Prédio</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Disponível</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Responsável</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Agendamentos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in rooms %}
                            <a href="{% url 'room:rooms_update' id=room.id %}">
                                <tr role="row" class="odd">
                                    <td>
                                        <a href="{% url 'room:rooms_update' id=room.id %}"> {{ room.room_name }}</a>
                                    </td>
                                    <td>{{ room.key }}</td>
                                    <td>{{ room.department }}</td>
                                    <td>{% if room.available %}Sim{% else %}Não{% endif %}</td>
                                    <td>{{ room.id_user_coordinator.name }}</td>
                                    <td><i class="fa fa-calendar-days" style="color: #198754;"></i></td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </a>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock extrascripts %}