{% extends 'base/base.html' %}
{% load static %}

{% block title %}Criar/Editar Sala{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-list-check" style="color: #198754"></i> Criar/Editar Sala</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'room:rooms_list' %}">Gerenciar Salas</a></li>
        <li class="breadcrumb-item active">Criar/Editar Sala</li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Update">
    </form>
</div>
{% endblock content %}
