{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reservar{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-house-circle-check" style="color: #198754"></i> Reservar</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item" style="color: #198754;"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Reservar</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">#</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Nome da Sala</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">Chave</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 289.281px;">Prédio</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Disponível</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for event in latest_events %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{ forloop.counter }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_time }}</td>
                                <td>{{ event.end_time }}</td>
                            </tr>
                        {% endfor %} -->
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 101</td>
                            <td>101</td>
                            <td>Prédio A</td>
                            <td>Sim</td>
                            <td>João</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 102</td>
                            <td>102</td>
                            <td>Prédio A</td>
                            <td>Não</td>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 201</td>
                            <td>201</td>
                            <td>Prédio B</td>
                            <td>Sim</td>
                            <td>Carlos</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 202</td>
                            <td>202</td>
                            <td>Prédio B</td>
                            <td>Não</td>
                            <td>Ana</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 301</td>
                            <td>301</td>
                            <td>Prédio C</td>
                            <td>Sim</td>
                            <td>Fernanda</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 101</td>
                            <td>101</td>
                            <td>Prédio A</td>
                            <td>Sim</td>
                            <td>João</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 102</td>
                            <td>102</td>
                            <td>Prédio A</td>
                            <td>Não</td>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 201</td>
                            <td>201</td>
                            <td>Prédio B</td>
                            <td>Sim</td>
                            <td>Carlos</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 202</td>
                            <td>202</td>
                            <td>Prédio B</td>
                            <td>Não</td>
                            <td>Ana</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 301</td>
                            <td>301</td>
                            <td>Prédio C</td>
                            <td>Sim</td>
                            <td>Fernanda</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 101</td>
                            <td>101</td>
                            <td>Prédio A</td>
                            <td>Sim</td>
                            <td>João</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 102</td>
                            <td>102</td>
                            <td>Prédio A</td>
                            <td>Não</td>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 201</td>
                            <td>201</td>
                            <td>Prédio B</td>
                            <td>Sim</td>
                            <td>Carlos</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 202</td>
                            <td>202</td>
                            <td>Prédio B</td>
                            <td>Não</td>
                            <td>Ana</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 301</td>
                            <td>301</td>
                            <td>Prédio C</td>
                            <td>Sim</td>
                            <td>Fernanda</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 101</td>
                            <td>101</td>
                            <td>Prédio A</td>
                            <td>Sim</td>
                            <td>João</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 102</td>
                            <td>102</td>
                            <td>Prédio A</td>
                            <td>Não</td>
                            <td>Maria</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 201</td>
                            <td>201</td>
                            <td>Prédio B</td>
                            <td>Sim</td>
                            <td>Carlos</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 202</td>
                            <td>202</td>
                            <td>Prédio B</td>
                            <td>Não</td>
                            <td>Ana</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'reservation:form-room-reservation'%}"><i class="fas fa-search"></i></a></td>
                            <td>Sala 301</td>
                            <td>301</td>
                            <td>Prédio C</td>
                            <td>Sim</td>
                            <td>Fernanda</td>
                        </tr>

                    </tbody>
                </table>
          
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock extrascripts %}
