{% extends 'base/base.html' %}
{% load static %}

{% block title %}Minhas Reservas{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Minhas Reservas</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Minhas Reservas</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">#</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Nome da Sala</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">Chave</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 289.281px;">Justificativa</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Data</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Horário</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for event in latest_events %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{ forloop.counter }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_time }}</td>
                                <td>{{ event.end_time }}</td>
                            </tr>
                        {% endfor %} -->
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 53</td>
                            <td>12345</td>
                            <td>Reunião de equipe</td>
                            <td>2023-10-01</td>
                            <td>09:00 AM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Sala 48</td>
                            <td>54321</td>
                            <td>Treinamento de software</td>
                            <td>2023-10-02</td>
                            <td>02:30 PM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Auditório</td>
                            <td>98765</td>
                            <td>Entrevista de emprego</td>
                            <td>2023-10-03</td>
                            <td>11:15 AM</td>
                            <td>Rejeitado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Apiário</td>
                            <td>24680</td>
                            <td>Apresentação de vendas</td>
                            <td>2023-10-04</td>
                            <td>04:45 PM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 57</td>
                            <td>13579</td>
                            <td>Conferência de tecnologia</td>
                            <td>2023-10-05</td>
                            <td>10:30 AM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 53</td>
                            <td>12345</td>
                            <td>Reunião de equipe</td>
                            <td>2023-10-01</td>
                            <td>09:00 AM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Sala 48</td>
                            <td>54321</td>
                            <td>Treinamento de software</td>
                            <td>2023-10-02</td>
                            <td>02:30 PM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Auditório</td>
                            <td>98765</td>
                            <td>Entrevista de emprego</td>
                            <td>2023-10-03</td>
                            <td>11:15 AM</td>
                            <td>Rejeitado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Apiário</td>
                            <td>24680</td>
                            <td>Apresentação de vendas</td>
                            <td>2023-10-04</td>
                            <td>04:45 PM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 57</td>
                            <td>13579</td>
                            <td>Conferência de tecnologia</td>
                            <td>2023-10-05</td>
                            <td>10:30 AM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 53</td>
                            <td>12345</td>
                            <td>Reunião de equipe</td>
                            <td>2023-10-01</td>
                            <td>09:00 AM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Sala 48</td>
                            <td>54321</td>
                            <td>Treinamento de software</td>
                            <td>2023-10-02</td>
                            <td>02:30 PM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Auditório</td>
                            <td>98765</td>
                            <td>Entrevista de emprego</td>
                            <td>2023-10-03</td>
                            <td>11:15 AM</td>
                            <td>Rejeitado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Apiário</td>
                            <td>24680</td>
                            <td>Apresentação de vendas</td>
                            <td>2023-10-04</td>
                            <td>04:45 PM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 57</td>
                            <td>13579</td>
                            <td>Conferência de tecnologia</td>
                            <td>2023-10-05</td>
                            <td>10:30 AM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 53</td>
                            <td>12345</td>
                            <td>Reunião de equipe</td>
                            <td>2023-10-01</td>
                            <td>09:00 AM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Sala 48</td>
                            <td>54321</td>
                            <td>Treinamento de software</td>
                            <td>2023-10-02</td>
                            <td>02:30 PM</td>
                            <td>Pendente</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Auditório</td>
                            <td>98765</td>
                            <td>Entrevista de emprego</td>
                            <td>2023-10-03</td>
                            <td>11:15 AM</td>
                            <td>Rejeitado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Apiário</td>
                            <td>24680</td>
                            <td>Apresentação de vendas</td>
                            <td>2023-10-04</td>
                            <td>04:45 PM</td>
                            <td>Aprovado</td>
                        </tr>
                        <tr>
                            <td> <a href=""><i class="fas fa-search"></i></a></td>
                            <td>Laboratório 57</td>
                            <td>13579</td>
                            <td>Conferência de tecnologia</td>
                            <td>2023-10-05</td>
                            <td>10:30 AM</td>
                            <td>Pendente</td>
                        </tr>

                    </tbody>
                </table>
          
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock extrascripts %}
