{% extends 'base/base.html' %}
{% load static %}

{% block title %}Gerenciar Usuários{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa-solid fa-user" style="color: #198754"></i> Gerenciar Usuários</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Gerenciar Usuários</a></li>
        {% include 'partials/dropdown_user.html' %}
    </ul>
    
{% endblock breadcrumb %}

{% block content %}

<a href="{% url 'accounts:user-create' %}">
    <button class="btn btn-primary" style="margin-bottom: 1rem;">Criar Usuário</button>
</a>

<div class="table-responsive">
    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">#</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Nome</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Matrícula</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Função</th>
                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {% for event in latest_events %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{ forloop.counter }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.start_time }}</td>
                                <td>{{ event.end_time }}</td>
                            </tr>
                        {% endfor %} -->
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Bruno Monteiro </td>
                            <td> 2018276</td>
                            <td> Professor</td>
                            <td> bruno.m@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Maria Silva </td>
                            <td> 2019350</td>
                            <td> Coordenador</td>
                            <td> maria.s@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> João Pereira </td>
                            <td> 2021005</td>
                            <td> Estudante</td>
                            <td> joao.p@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Ana Carvalho </td>
                            <td> 2017502</td>
                            <td> Professor</td>
                            <td> ana.c@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Carlos Sousa </td>
                            <td> 2019123</td>
                            <td> Professor</td>
                            <td> carlos.s@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Maria Oliveira </td>
                            <td> 2022101</td>
                            <td> Estudante</td>
                            <td> maria.o@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Luís Ferreira </td>
                            <td> 2018345</td>
                            <td> Professor</td>
                            <td> luis.f@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Sofia Alves </td>
                            <td> 2019222</td>
                            <td> Coordenador</td>
                            <td> sofia.a@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Pedro Rodrigues </td>
                            <td> 2021100</td>
                            <td> Estudante</td>
                            <td> pedro.r@email.com</td>
                        </tr>
                        <tr role="row" class="even">
                            <td> <a href="{% url 'accounts:user-create' %}"><i class="fas fa-search"></i></a></td>
                            <td> Carla Santos </td>
                            <td> 2017123</td>
                            <td> Professor</td>
                            <td> carla.s@email.com</td>
                        </tr>       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
